body {
  font-family: "TT Norms W01 Regular", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", 游ゴシック, YuGothic, メイリオ, Meiryo, sans-serif;;  
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}



li {
  list-style: none;
}



/* 固定ヘッダー */
.site-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
  height: 80px;
  border:1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.8); 
}

.logo-btn {
  text-decoration: none;
  color: white;
}

.logo-btn:hover {
  color: #c9ada7;
}

.button {
  background-color: #333;
  border: 2px solid #333;
  color: #fff;
  line-height: 50px;
  font-size: 24px;
  padding: 4px 20px;
  margin: 4px 8px;
}

.button:hover {
  background-color: #fff;
  border-color: #f2e9e4;  
  color: #c9ada7;
  transition: 1s;
}



.logo {
  padding-left: 20px; 
}

.nav-list {
  display: flex;
  margin-right: 20px;
}

.nav-item {
  padding-right: 40px;
  padding: 16px 24px;
}

.nav-item:hover {
  background-color: #b4a2b1;
  transition: 1s;
  font-weight: 400;
  box-shadow: 2px 2px 4px #9a8c98;
}

.notice {
  margin: 0 auto;
  padding-top: 30px;
  font-size: 12px;
  text-align: center;
}



/* ここからコンテンツ */

/* メインビジュアル */
.welcome {
  width: 100%;
  padding-bottom: 80px;
  text-align: center;
}

.containter {
  position: relative;
}

.welcome-words {
  position: absolute;
  top: 200px;
}

.welcome-words {
  display: flex;
  width: 100vw;
  height: 200px;
  overflow: hidden;
}

.welcom-words img {
  width: auto;
  height: 100%;
}

/* 白文字が流れるアニメーション */
@keyframes loop {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes loop2 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}

.welcome-words img:first-child {
  animation: loop 50s -25s linear infinite;
}

.welcome-words img:last-child {
  animation: loop2 50s linear infinite;
}

.contents {
  margin-top: 100px;
}



/* About Me　セクション */
.content-wrap {
  background-color: #ede8e4; 

}

.content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.content-title {
  margin: 0;
  padding-left: 20px;
}



.skill {
  display: block;
  padding: 20px;  
}


.skill-list {
  display: flex;
  justify-content: center;
}

.skill-inner {
  margin: 0 auto;
  padding: 10px 20px;
  min-width: 150px;
  height: 350px;
  background: #b4a2b1;  
  box-shadow: 2px 2px 4px #333;
  transform: scale(1);
  transition: .3s ease-in-out;
}

.skill-inner:hover {
  transform: scale(1.1);
}

.skill-inner > h3 {
  text-align: center; 
}

.fab-container {
  justify-content: center;
  text-align: center;
  background: #fff;
  overflow: hidden;
  cursor: pointer;  
}

.fab {
  transform: scale(1);
  transition: .3s ease-in-out;
}

.fab:hover {
  transform: scale(1.1);
}

.skill-inner > p {
  text-align: center;
}




@media (max-width:768px) {

  .content {
    display: flex;
    flex-direction: column;
  }

  .skill-list {
    flex-direction: column;
  }

  .skill {
    display: block;
  }
}



/* 作品セクション */

.content {
  padding: 20px;
  
}

.box {
  display:flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.text {
  width: 100%;
  text-align: center;
}

.text > h3 {
  margin: 0;
  border-bottom: 1px solid rgba(201, 200, 200, 0.8);
  margin-bottom: 30px;
}


.work-pic {
  width: 100%;
  text-align: center;
  min-height: 0%;
  overflow: hidden;
}

.work-pic img {
  max-width: 300px;
  height:auto;
  border: 1px solid #ccc  
}

.work-pic img:hover {
  box-shadow: 4px 4px 8px gray;
  transition: 1s;
}

.box:nth-child(even) {
  background-color: #f1f1f1;
  padding: 20px;
}



@media (max-width:768px) {
  .box {
    flex-direction: column;
    justify-content: space-between;
  }


  
  .text {
    text-align: left;
    font-size: 14px;
  }

  .box:nth-child(even) .text {
    text-align: right;
  }

  .box:nth-child(odd) .text {
    text-align: left;
  }

  .work-pic {
    width: 40%    
  }

  .work-pic img {
    width: 100%;
    height:auto;
    border: 1px solid #ccc  
  }

  .box:nth-child(even) .work-pic {
    text-align: right;
    margin-left: 0;
    margin-right: 3%;
  }

  .box:nth-child(odd) .work-pic {
    margin-left: 0;
    margin-left: 3%;
  }
}
  
 
    
 




/* フッター */
.site-footer {
  margin: 0;
  padding: 20px, 40px, 40px, 40px;
  background-color: black;
  color: white;
}

.footer-inner {
  text-align: left;
}

.site-footer a {
  display: flex;
  color: white;
  padding: 20px;
}

.footer-logo {
  margin: 0;
  padding: 10px;
  text-align: center;
}

.contact-links {
  padding: 8px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: center;
}

.fab {
  text-align: center;
  padding-right: 8px;
}

.footer-list {
  display: flex;
  justify-content: center;
}

footer > a {
  text-align: center;
  padding: 12px;
}